/* latin-ext */
@font-face {
  font-family:'Peace-Sans';
  font-weight: 100;
  src: url('fonts/Peace-Sans-Webfont.ttf') format('truetype');
}
@font-face {
  font-family:'Comfortaa-Regular';
  font-weight: 100;
  src: url('fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
  font-family:'Comfortaa-Light';
  font-weight: 100;
  src: url('fonts/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
  font-family:'Comfortaa-Bold';
  font-weight: 100;
  src: url('fonts/Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
  font-family:'Hamurz';
  font-weight: 100;
  src: url('fonts/Hamurz.ttf') format('truetype');
}

@font-face {
  font-family:'Open-Sans-Light';
  font-weight: 100;
  src: url('fonts/OpenSansHebrew-Light.ttf') format('truetype');
}

@font-face {
  font-family:'Open-Sans-Bold';
  // font-weight: 100;
  src: url('fonts/OpenSansHebrew-Bold.ttf') format('truetype');
}

@font-face {
  font-family:'Open-Sans';
  // font-weight: 100;
  src: url('fonts/OpenSansHebrew-Regular.ttf') format('truetype');
}



